@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: 'Roboto', sans-serif;
}


/* animation  */
.bounce {
  animation: bounce 1s infinite;
}

@keyframes bounce {

  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateX(0);
  }

  40% {
    transform: translateX(-9px);
  }

  60% {
    transform: translateX(-6px);
  }
}

/* //SmallBlog icon animation*/
@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  50% {
    transform: scale(1.1);
    opacity: 0.5;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}


.down {
  animation: down 1s infinite;
}

@keyframes down {

  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-30px);
  }

  60% {
    transform: translateY(-15xpx);
  }
}

/* Credit card processing background pic  */
.bgImg {
  position: relative;
}

.bgImg::before {
  position: absolute;
  content: "";
  height: 558px;
  width: 100%;
  background: url(../src/assets/creditCard/PaymentTerminals.jpg) no-repeat center center/cover;
  top: 0;
  left: 0;
  opacity: .2;
}

/* homebanner animation of pulse  */

.pulseEffect {
  animation: pulseEffect 1s infinite;
}

@keyframes pulseEffect {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 0px rgba(255, 221, 0, 0.7);
  }

  70% {
    transform: scale(1.05);
    box-shadow: 0 0 0 15px rgba(17, 17, 17, 0);
  }

  100% {
    transform: scale(1);
    box-shadow: 0 0 0 0px rgba(17, 17, 17, 0);
  }
}

.pulseEffect2 {
  animation: pulseEffect2 1s infinite;
}

@keyframes pulseEffect2 {
  0% {
    box-shadow: 0 0 2px 0 #80b4a37b;
  }

  40% {
    box-shadow: 0 0 0 6px #8accb68c;
  }

  100% {
    box-shadow: 0 0 0 2px #5d9783c3;
  }
}

/* Customising the scroll bar  */
.times-container::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5;
}

.times-container::-webkit-scrollbar-thumb {
  background-color: #D1D1D1;
  border-radius: 6px;
  background-clip: content-box;
  border: 1.5px solid transparent;
}

.times-container::-webkit-scrollbar-thumb:hover {
  background-color: #A8A8A8;
}